@charset "utf-8";
/* CSS Document */
header {
	width:100%;
	height:10%;
	background-color: #0000CD;
  	background-image: linear-gradient(#0000CD 0, #FFFFFF 100%); 
	float:left;
}
#brand {
	width: 20%; height: 100%;
}
h1 {
	float:left ; position: absolute; top:10px ; left: 400px;
}
nav {
	height: 8%;
	border-bottom: 2px inset #A9A9A9;
	background-color: #F8F8FF;
}
#search__button {
	height: 52px;
	box-shadow:3px 3px 3px #6495ED inset;
	text-align: center;
}
#search__button a{
	font-size: 20px;
	text-decoration: none;
	display: block;	
	padding: 13px 0px;
	
	color: #FFFFFF
}
#search__button a:hover{	
	box-shadow: 3px 3px 3px #6495ED inset; 
}
#main {
	width: 100%;
	height: 82%;
	margin: 0;
	padding: 0;
	border-top: none;
}
.full {
	height: 82%;
	margin: 0;
	padding: 0;
}
