html {
  min-height: 100%;
}
body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #563D7C;
  background-image: linear-gradient(#563D7C 0px, #6F5499 100%); 
  min-height: 100%;
}
p {
  text-indent:2em
}
.info {
  color: #CDBFE3;
}
.search__box {
	margin-left: 20px; margin-right: 20px;
}
.search__box input {
	width : 100%;
}
.search__result {
	min-height: 600px;
}
.post {
	padding: 10px 0px;
}
.post::after {
	clear: both; display: table; content: "";
}
.post__body {
	width: 74.57%; margin-right: 0px; float: left; display: block; padding: 0px 20px 5px 20px; border-radius: 10px; background-color: #F0F0F0;
}
.post__title {
	line-height: 120%; margin-bottom: 10px;
}
.post__title a {
	color: #0000CC; font-size: 22px;
}
.post__title a:hover {
	color: rgb(66, 139, 202); font-size: 22px; text-decoration: none;
}
.post__content {
	margin-bottom: 15px;
}
.post__content a:hover{
	color: #808080; text-decoration: none;
}
.post__summary {
	line-height: 160%; font-size: 16px;
}
.post__meta {
	color: rgb(153, 153, 153); font-size: 13px;
}
.post__date {
	color: rgb(0, 128, 0);
}
.post__website {
	color: rgb(0, 128, 0);
}

.wp-pagenavi {
	margin: 20px 0px; text-align: center; display: block;
}
.wp-pagenavi span {
	padding: 10px; color: #FFFFFF;
}
.wp-pagenavi a {
	margin: 0px 3px; padding: 5px 10px; border-radius: 5px; border: 1px solid rgb(221, 221, 221); transition:0.2s ease-in-out; border-image: none; text-align: center; color: rgb(66, 139, 202); display: inline; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
}
.wp-pagenavi a:hover {
	background: rgb(255, 255, 255); border: 1px solid rgb(37, 173, 228); color: rgb(37, 173, 228); text-decoration: none;
}
.wp-pagenavi a:focus {
	background: rgb(255, 255, 255); border: 1px solid rgb(37, 173, 228); text-decoration: none;
}
.wp-pagenavi a:active {
	background: rgb(247, 247, 247);
}