<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <!-- Auto Scan -->
    <context:component-scan base-package="controller" ></context:component-scan> 
    
    <!-- Default Annotation -->
    <mvc:annotation-driven />
    
    <!-- View -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="prefix" value="/JSP/"/>
    	<property name="suffix" value=".jsp"/><!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑  -->
    </bean>
    
	<!-- Index Searcher -->
    <bean id="searcher" class="crawler.Searcher" scope="session">
    	<constructor-arg ref="sessionFactory" />
    </bean>
    
    <!-- Static Resource-->  
	<mvc:resources mapping="/**/*.css" location="/" />
    <mvc:resources mapping="/**/*.ico" location="/" />
    <mvc:resources mapping="/**/*.png" location="/" />
    
</beans> 
